/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  /* Estilos de los productos */
  .product {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .product-image {
    height: 300px;
    overflow: hidden;
  }
  
  .product-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .product-details {
    padding: 20px;
  }
  
  .product h3 {
    margin-top: 0;
  }
  
  .product-description {
    margin-bottom: 10px;
  }
  
  .product-price {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0d8bf5;
  }
  